
/* The Pay Bar
---------------------------------------------------------------------------------------------------- */

#paybar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;

  background-color: rgba(#ffffff, .95);
  line-height: 50px;
  color: $color-blue;

  .inner {
    padding: 25px 0;

    .button {
      float: right;
      background-color: $color-blue;
    }

    @media ('max-width: 480px') {
      span {
        display: none;
      }

      .button {
        width: 100%;
        text-align: center;
      }
    }
  }
}